*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: grid;
    background-color: aquamarine;
}
form{
   width: 450px; 
   height: 400px;
   background-color: aquamarine;
   border-radius: 25px;
   padding: 25px;
   box-sizing: border-box;
   margin: auto ;
   border: solid 2px black;
}
form h1{
     color: black;
     text-align: center;
     font-size: 25px;
}
label{
    color: black;
    font-weight:bold ;
    padding-bottom: 5px;
    padding-top: 15px;
    display: inline-block;
}
input,textarea{
    box-sizing: border-box;
    width: 400px;
    height: 30px;
    padding: 10px;
    outline: none;
    resize: none;
}
textarea{
    height: 50px;
}
#button-row{
    display: flex;
    justify-content: space-between;
}
button{
    flex-grow: 1;
    width: 125px;
    margin: 25px;
    border: none;
    outline: none;
    border-radius: 15px;
    height: 35px;
    cursor: pointer;
    color: #fff;
    
}
