*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
  background-color: #009FC1;
}
.scripts{
  position: relative;
  top: 6%;
}
.title{
  font-size: 1.5rem;
  font-weight: bold;
}
.audio{
  width: 90%;
  position: relative;
  top: 20%;
}
.container{
  margin-top: auto;
}
.navbar-brand img{
  width: 200px;
  height: 150px;
}
.nav-link{
  color: white;
}
.navbar-link{
  position: relative;
  left: 20%;
  gap: 15%;
}
.navbar-brand{
  position: relative;
  right: 100%;
  top: -20px;
}
body {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.card-group {
  transition: transform 0.3s;
  width: 520px;
  height: 50px;
  position: relative;
  left: 25px;
}
#box1{
  display: flex;
}
#box2{
  display: flex;
  position: relative;
  top: 700px;
}
#box3{
  display: flex;
  position: relative;
  top: 5px;
}
.mt-5{
  position: relative;
  top: 700px;
}
.bbtn1{
  position: relative;
  top: 690px;
}
.card:hover {
  transform: translateY(-5px);
}
.card img {
  width: 100%;
  height: 350px;
}
.card-body{
  width: 500px;
  height: 350px;
}
.title {
  margin-top: 78%;
  text-align: center;
  font-size: 2rem;
}
a{
  text-decoration: none;
  color: black;
}





