.container{
  background-color: #b2ceef;
  width: 100%;
  height: 1000px;
}
.article-card {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid  #EA18EE;
    height: 250px;
    margin-top: 100px;
  }
  
  .article-card img {
    width: 30%;
    margin-right: 20px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .article-card .article-info {
    width: 60%;
  }
  
  .article-card .article-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: #EA18EE;
    margin-bottom:50px;
  }
  
  .article-card .article-summary {
    font-size: 20px;
    color:#EA18EE;
    margin-bottom: 50px;
    
  }
  
  .article-card .article-author {
    font-size: 20px;
    color:#EA18EE;
    margin-bottom: 50px;
  }

.form{
  color: #EA18EE;
  text-align: end;
margin-top: 40px;

}


