<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>filter</title>
  
    <link rel="stylesheet" href="style.css">
 
   
</head>
<body>
    <section>
      <div class="btn"> Filter by age
        <button class="btn1"><a href="">All</a></button>
        <button class="btn1"><a href="">0-3</a></button>
        <button class="btn1"><a href="">4-6</a></button>
        <button class="btn1"><a href="">7-12</a></button>
       
      </div>
   
          
        
          
         
          
    </section>
    <!-- <p>Solid</p>
<hr class="solid"> -->
</body>
</html>